
/* normalize.css 2011-06-23T00:50 UTC //github.com/jonathantneal/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/*
fonts: avenir and minion
*/

/*
colours:

  text: black;
  highlight: pink;
  active: orange;
*/


body
{
}

p
{
  font-family: 'minion', serif;
  font-size: 24px;
  text-align: center;
  color: red;
}

/*
------------------------------------------------------
:: big navigation bar
------------------------------------------------------
*/
.navigation-bar-big
{
  /*border: 1px solid red;*/
  /*background-color: lightgrey;*/
}

.navigation-bar-big ul
{
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: table;
}

.navigation-bar-big ul li
{
  /*display: inline-block;*/
  display: table-cell;
  float: left;
  /*border: 2px solid green;*/
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.navigation-bar-big ul li a
{
  /*background-color: yellow;*/
  /*border: 1px solid red;*/

  font-family: 'avenir', sans-serif;

  text-decoration: none;
  color: black;
  /*font-weight: bold;*/
  /*text-transform: lowercase;*/
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  /*
  not noticing difference between block and inline-block
  */
  /*display: block;*/
  display: inline-block;

  text-align: center;

  line-height: 64px;
  width: 96px;

  /*background-color: lightgray;*/
}

.navigation-bar-big ul li a:hover
{
  color: pink;
}


.navigation-bar-big a.navigation-item-active
{
  /*background: orange;*/
  color: orange;
}

/*
------------------------------------------------------
:: small navigation bar
------------------------------------------------------
*/
.navigation-bar-small
{
  /*border: 1px solid red;*/
  /*background-color: white;*/
}

.navigation-bar-small ul
{
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.navigation-bar-small ul li
{
  display: inline-block;
}

.navigation-bar-small ul li ul
{
  position: absolute;
  /*background: white;*/
  display: none;
}

.navigation-bar-menu
{
  font-family: 'avenir', sans-serif;

  color: black;
  float: right;
  /*background-color: yellow;*/
  /*border: 1px solid red;*/
  width: 96px;
  line-height: 64px;
  text-align: center;
}

.navigation-bar-menu:hover
{
  /*background-color: #eeeeee;*/
  color: orange;
}

/*
menu items
*/
.navigation-bar-small a
{
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  width: 96px;
  /*line-height: 64px;*/

  display: block;
  background-color: white;
}

.navigation-bar-small a:hover
{
  color: pink;
}

.navigation-bar-small li:hover ul
{
  display: block;
}

/*
navigation logo
*/
.navigation-bar-logo
{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.news
{
  background-color: lightgrey;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  border: 1px solid blue;

}

@media only screen and (max-width: 650px) {
  .navigation-bar-big {
    display: none;
  }
}

@media only screen and (min-width: 651px) {
  .navigation-bar-small {
    display: none;
  }
}

