
/* normalize.css 2011-06-23T00:50 UTC //github.com/jonathantneal/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

body
{
}

p
{
  text-align: center;
  color: red;
}

.navigation-bar
{
  background-color: lightgrey;
  /*border: 1px solid blue;*/
  border-radius: 20px;
  /*box-shadow: 10px 10px 10px -10px rgba(0.0, 0.0, 1.0, 0.5);*/
  /*color: green;*/
  /*display: block;*/
  /*margin: 2px 2px;*/
  /*margin: 8px 22px 8px 22px;*/
  /*overflow: hidden;*/
  width: 100%;
  /*position: fixed;*/
  margin: 0px;
  padding: 0px;
}

.navigation-bar ul
{
  margin: 0px;
  padding: 0px;
}

.navigation-bar ul li
{
  display: inline-block;
  /*float: left;

  /*list-style-type: none;*/
  margin: 0px;
  padding: 0px;
/*

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  */
}

/* what is this > notation? */
/*nav > ul > li > a*/
.navigation-bar ul li a
{
  /*color: orange;*/
  /*display: block;*/
  /*
  line-height: 56px;
  padding: 0 24px;
  */
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 1px solid green;
  /*vertical-align: middle;*/

}

/*
.navigation-bar-spacer
{
  background-color: red;
  height: 60px;
}
*/

.logo
{
  /*height: 50px;*/
  margin: 0px 0px 0px 0px;
  /*padding: 10px;*/
  background-color: orange;
  /*border: 1px solid blue;*/

  /*white-space: nowrap;*/

  /*
  vertical-align: 100%;
  display: inline-block;
  */
}
/*
.main-navigation
{
    background: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 0 50px;
    box-sizing: border-box;
}
*/

section.banner
{
  /*
    margin-top: 122px;
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('http://placehold.it/1024x256');
    background-attachment: fixed;

    background-position: 50% 122px;
    /*background-repeat: no-repeat;*/
    */
    border: 1px solid blue;

    /*
  padding.top: 110px;
  padding-bottom: 70px;
  color: white;
  text-align: center;
  background-attachment: fixed;
  */
  /*border: 1px solid yellow;*/
  /*background-color: lightblue;*/

  /*
    background-image: url('http://placehold.it/1024x256');
    background-repeat: no-repeat;
    padding: 128;
    border: 1px solid blue;
    background-attachment: fixed;
*/
}

/*section.banner img
{
  padding-top: 20px;
  max-width: 200px;
  max-height: 200px;
}*/
