<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>

        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/projects">Projects</a></li> -->
                    <li><a href="/scoresheet">Scoresheet</a></li>
                </ul>
            </nav>

            <h1>Bar Down Software</h1>

            <div class="container">

            {{ content }}

            </div>

            <footer>
            </footer>
        </body>
    </html>
